#stats {
  position: absolute;
  top: 0;
  right: 0;
}
body {
  background: #000;
}
.nodes-main {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  min-width: 20px;
  width: 250px;
  transition: all .2s;
}
.nodes-items {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 250px;
  background: #fffc;
}
.nodes-items li {
  padding-left: 15px;
  line-height: 28px;
  cursor: pointer;
}
#app {
  background-image: url('/assets/image/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.nodes-show {
  display: inline-block;
  width: 14px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
}
span.active {
  color: red;
}
.cnode:hover {
  color: #cc66aa;
}
.nodes-active {
  transform: translateX(-100%);
}
.set-position {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  background: #fff;
  padding: 10px;
  border-radius: 5px 0 0 0;
}
.set-position li {
  display: flex;
  line-height: 30px;
}
.set-position .p-name {
  width: 50px;
}
.set-position .p-inp {
  flex: 1;
}
.set-position .p-inp input,
.set-position .p-inp select {
  padding: 0;
  margin: 0;
}
.set-position .p-inp input {
  width: 100%;
  height: 18px;
}
.set-position .p-inp select {
  width: 101%;
  height: 24px;
}
.set-position .p-inp button {
  width: 100%;
}
.new-nodes {
  background: rgba(200, 200, 200, 0.8);
  z-index: 1001;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.new-nodes .new-box {
  width: 400px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 5px;
}
.new-nodes .new-box li {
  display: flex;
  line-height: 30px;
}
.new-nodes .new-box .p-name {
  width: 50px;
}
.new-nodes .new-box .p-inp {
  flex: 1;
}
.new-nodes .new-box .p-inp input,
.new-nodes .new-box .p-inp select {
  padding: 0;
  margin: 0;
}
.new-nodes .new-box .p-inp input {
  width: 100%;
  height: 18px;
}
.new-nodes .new-box .p-inp select {
  width: 101%;
  height: 24px;
}
.new-nodes .new-box .p-inp button {
  width: 100%;
}
.icon-tree {
  position: relative;
  padding: 0 5px;
}
.icon-tree:hover {
  color: red;
}
._header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
._header > div span {
  display: block;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
}
._header > div .c_headname {
  font-size: 35px;
  font-family: HelveticaNeue-Bold;
  font-weight: 500;
  line-height: 54px;
  text-shadow: 1px 1px 15px #0075ff;
}
._header > div .e_headname {
  font-size: 14px;
  text-shadow: 1px 1px 15px #0075ff;
}
._content {
  position: absolute;
  top: 88px;
  left: 20px;
  right: 20px;
  bottom: 0;
}
._content .chart_Group {
  width: 20%;
}
._content .chart_Group > div {
  width: 100%;
  overflow: hidden;
}
._content .chart_Group > div > canvas {
  width: 100%;
  height: 200px;
}
._content .list_Group {
  height: 100%;
}
._content .list_Group .threat_list {
  width: 20%;
  height: 70%;
  position: relative;
}
._content .list_Group .threat_list > p {
  font-size: 22px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #ffffff;
  line-height: 33px;
  text-shadow: 1px 1px 4px #0064ff;
}
