#stats {
  position: absolute;
  top: 0;
  right: 0;
}
body {
  background: #000;
}
.nodes-main {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  min-width: 20px;
  width: 250px;
  transition: all .2s;
}
.nodes-items {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 250px;
  background: #fffc;
}
.nodes-items li {
  padding-left: 15px;
  line-height: 28px;
  cursor: pointer;
}
#app {
  background-image: url('/assets/image/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.nodes-show {
  display: inline-block;
  width: 14px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #fff;
}
span.active {
  color: red;
}
.cnode:hover {
  color: #cc66aa;
}
.nodes-active {
  transform: translateX(-100%);
}
.set-position {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  background: #fff;
  padding: 10px;
  border-radius: 5px 0 0 0;
}
.set-position li {
  display: flex;
  line-height: 30px;
}
.set-position .p-name {
  width: 50px;
}
.set-position .p-inp {
  flex: 1;
}
.set-position .p-inp input,
.set-position .p-inp select {
  padding: 0;
  margin: 0;
}
.set-position .p-inp input {
  width: 100%;
  height: 18px;
}
.set-position .p-inp select {
  width: 101%;
  height: 24px;
}
.set-position .p-inp button {
  width: 100%;
}
.new-nodes {
  background: rgba(200, 200, 200, 0.8);
  z-index: 1001;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.new-nodes .new-box {
  width: 400px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 5px;
}
.new-nodes .new-box li {
  display: flex;
  line-height: 30px;
}
.new-nodes .new-box .p-name {
  width: 50px;
}
.new-nodes .new-box .p-inp {
  flex: 1;
}
.new-nodes .new-box .p-inp input,
.new-nodes .new-box .p-inp select {
  padding: 0;
  margin: 0;
}
.new-nodes .new-box .p-inp input {
  width: 100%;
  height: 18px;
}
.new-nodes .new-box .p-inp select {
  width: 101%;
  height: 24px;
}
.new-nodes .new-box .p-inp button {
  width: 100%;
}
.icon-tree {
  position: relative;
  padding: 0 5px;
}
.icon-tree:hover {
  color: red;
}
.backImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._header {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
  background-image: url(../../assets/image/head.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._header > div span {
  display: block;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
._header > div .c_headname {
  line-height: 55px;
  font-size: 33px;
  font-family: HelveticaNeue-Bold;
  font-weight: 500;
  text-shadow: 1px 1px 15px #0075ff;
}
._header > div .e_headname {
  letter-spacing: 0;
  font-size: 13px;
  text-shadow: 1px 1px 15px #0075ff;
  padding-bottom: 30px;
}
._content {
  position: absolute;
  top: 114px;
  left: 20px;
  right: 20px;
  bottom: 0;
}
._content .chart_Group .l_chart {
  margin-bottom: 50px;
}
._content .chart_Group .l_chart:last-child {
  margin-bottom: 0;
}
._content .chart_Group .l_chart > p {
  height: 33px;
  font-size: 22px;
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  color: #ffffff;
  line-height: 29px;
  text-shadow: 1px 1px 4px #0064ff;
  margin-bottom: 10px;
  white-space: nowrap;
}
._content .chart_Group .l_chart > ul li {
  padding: 0 15px;
  position: relative;
  white-space: nowrap;
  list-style: none;
  margin-bottom: 10px;
}
._content .chart_Group .l_chart > ul li > i {
  display: block;
  width: 5px;
  height: 26px;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  background-image: url(../../assets/image/chart/24.png);
}
._content .chart_Group .l_chart > ul li > div {
  width: 196px;
  height: 23px;
  background-image: url(../../assets/image/chart/22.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .chart_Group .l_chart > ul li > div .bar_value {
  line-height: 23px;
  padding-left: 5px;
  color: #fff;
  font-size: 13px;
}
._content .chart_Group .l_chart > ul li > div .bar_name {
  position: absolute;
  width: 100%;
  right: 0;
  line-height: 23px;
  font-weight: 400;
  color: #cccccc;
  font-size: 13px;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
}
._content .chart_Group .r_chart {
  margin-top: 50px;
}
._content .chart_Group .r_chart > p {
  height: 33px;
  font-size: 22px;
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  color: #ffffff;
  line-height: 29px;
  text-shadow: 1px 1px 4px #0064ff;
  margin-bottom: 10px;
  white-space: nowrap;
  text-align: right;
}
._content .chart_Group .r_chart > ul li {
  padding-right: 15px;
  position: relative;
  white-space: nowrap;
  list-style: none;
  margin-bottom: 10px;
}
._content .chart_Group .r_chart > ul li > i {
  display: block;
  width: 5px;
  height: 26px;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  background-image: url(../../assets/image/chart/25.png);
}
._content .chart_Group .r_chart > ul li > div {
  width: 196px;
  height: 23px;
  background-image: url(../../assets/image/chart/23.png);
  position: relative;
  margin-right: 0;
  padding-right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .chart_Group .r_chart > ul li > div .bar_value {
  display: inline-block;
  line-height: 23px;
  padding-right: 5px;
  color: #fff;
  font-size: 13px;
  float: right;
}
._content .chart_Group .r_chart > ul li > div .bar_name {
  position: absolute;
  width: 100%;
  line-height: 23px;
  font-weight: 400;
  color: #cccccc;
  font-size: 13px;
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}
._content .pos_left {
  position: absolute;
  top: 0;
  left: 0;
}
._content .pos_right {
  position: absolute;
  top: 0;
  right: 0;
}
._content .rank_group {
  position: absolute;
  left: 0;
  top: -100px;
}
._content .rank_group .rank_item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
._content .rank_group .rank_item > span {
  display: block;
  width: 70px;
  height: 70px;
  background-image: url(../../assets/image/chart/4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-right: 6px;
}
._content .rank_group .rank_item > div > span {
  display: block;
}
._content .rank_group .rank_item > div ._code {
  font-size: 22px;
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  color: #ffffff;
  line-height: 29px;
  text-shadow: 1px 1px 4px #0064ff;
  margin-bottom: 6px;
  position: relative;
}
._content .rank_group .rank_item > div ._code:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 6px solid #AAAAAA;
  border-bottom: 5px solid transparent;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
}
._content .rank_group .rank_item > div ._name {
  font-size: 12px;
  font-family: HelveticaNeue;
  color: #ffffff;
  line-height: 14px;
  text-shadow: 1px 1px 4px #0064ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
._content .rank_group .rank_list {
  position: absolute;
  top: 0;
  left: 120%;
  width: 240px;
  background-image: url(../../assets/image/chart/6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: 100% 100%;
  z-index: 99;
  animation: fadein 0.6s;
}
._content .rank_group .rank_list > ul {
  display: flex;
  flex-wrap: wrap;
}
._content .rank_group .rank_list > ul > li {
  width: 25%;
  padding-top: 25%;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(81, 203, 255, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}
._content .rank_group .rank_list > ul > li > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
._content .rank_group .rank_list > ul .rankActive {
  background-image: url(../../assets/image/chart/7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: 59px 60px;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
._content .list_Group {
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
}
._content .list_Group .threat_list {
  position: relative;
}
._content .list_Group .threat_list > p {
  font-size: 22px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #ffffff;
  line-height: 33px;
  text-shadow: 1px 1px 4px #0064ff;
  margin-bottom: 10px;
}
._content .list_Group .threat_list > ul .threat_item {
  width: 269px;
  height: 44px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-image: url(../../assets/image/chart/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: transform 0.5s;
}
._content .list_Group .threat_list > ul .threat_item:last-child {
  margin-bottom: 0;
}
._content .list_Group .threat_list > ul .threat_item:hover {
  transform: scale(1.05);
}
._content .list_Group .threat_list > ul .threat_item > span {
  font-size: 14px;
  font-family: HelveticaNeue;
  color: #ffffff;
  line-height: 16px;
  text-shadow: 1px 1px 4px #0064ff;
  display: block;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
}
._content .list_Group .threat_list > ul .threat_item ._time {
  width: 50%;
}
._content .list_Group .threat_list > ul .threat_item ._name {
  width: 35%;
}
._content .list_Group .threat_list > ul .threat_item > i {
  width: 15%;
  height: 100%;
  display: block;
  background-image: url(../../assets/image/chart/3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: auto;
}
._content .list_Group .threat_list > ul .activeList {
  background-image: url(../../assets/image/chart/2.png);
}
._content .list_Step {
  height: 70%;
  position: absolute;
  right: 0;
  top: 0;
}
._content .list_Step .step_list > p {
  font-size: 22px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #ffffff;
  line-height: 33px;
  text-shadow: 1px 1px 4px #0064ff;
  margin-bottom: 10px;
  text-align: right;
}
._content .list_Step .step_list > ul > li {
  margin-bottom: 15px;
  height: 44px;
  display: flex;
  cursor: pointer;
  transition: transform 0.5s;
}
._content .list_Step .step_list > ul > li:hover {
  transform: scale(1.05);
}
._content .list_Step .step_list > ul > li:after {
  margin-bottom: 0;
}
._content .list_Step .step_list > ul > li > span {
  display: block;
  margin-right: 3px;
  text-align: center;
  line-height: 44px;
}
._content .list_Step .step_list > ul > li > span:last-child {
  margin-right: 0;
}
._content .list_Step .step_list > ul > li ._num {
  width: 26px;
  background-image: url(../../assets/image/chart/8.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  font-size: 15px;
  font-family: HelveticaNeue-MediumItalic;
  font-weight: normal;
  color: #51cbff;
  text-shadow: 1px 1px 4px #0064ff;
}
._content .list_Step .step_list > ul > li ._icon {
  width: 44px;
  background-image: url(../../assets/image/chart/9.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .list_Step .step_list > ul > li ._icon > img {
  line-height: 44px;
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
._content .list_Step .step_list > ul > li ._step {
  width: 164px;
  background-image: url(../../assets/image/chart/10.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  font-size: 13px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 1px 1px 4px #0064ff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
._content .list_Step .step_list > ul .activeStep ._num {
  background-image: url(../../assets/image/chart/11.png);
  color: #ffd780;
  text-shadow: 1px 1px 4px #ff6d34;
}
._content .list_Step .step_list > ul .activeStep ._icon {
  background-image: url(../../assets/image/chart/12.png);
}
._content .list_Step .step_list > ul .activeStep ._step {
  background-image: url(../../assets/image/chart/13.png);
}
._content .all_view {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 390px;
  height: 219px;
  border: 2px solid #11E6FF;
}
._content .all_view > i {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../../assets/image/chart/14.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: 95%;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 99;
  cursor: pointer;
}
._content .all_view > span {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #ffffff;
  line-height: 22px;
  text-shadow: 1px 1px 4px #0064ff;
  z-index: 99;
}
._content .all_view > div {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 219px;
}
._content .a_statistics {
  position: relative;
  display: inline-block;
}
._content .a_statistics ._back {
  width: 277px;
  height: 154px;
  background-image: url(../../assets/image/chart/21.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._content .a_statistics > p {
  height: 33px;
  font-size: 22px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #ffffff;
  line-height: 33px;
  text-shadow: 1px 1px 4px #0064ff;
  text-align: right;
  margin-bottom: 30px;
}
._content .a_statistics .a_circle {
  width: 80px;
  height: 80px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .a_statistics .b_circle {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'font-LED';
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
}
._content .a_statistics .c_title {
  text-align: center;
}
._content .a_statistics .c_title > i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .a_statistics .c_title > p {
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  line-height: 22px;
}
._content .High_risk {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}
._content .High_risk ._back {
  width: 277px;
  height: 154px;
  background-image: url(../../assets/image/chart/21.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._content .High_risk > p {
  height: 33px;
  font-size: 22px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #ffffff;
  line-height: 33px;
  text-shadow: 1px 1px 4px #0064ff;
  text-align: right;
  margin-bottom: 30px;
}
._content .High_risk .a_circle {
  width: 80px;
  height: 80px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .High_risk .b_circle {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'font-LED';
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
}
._content .High_risk .c_title {
  text-align: center;
}
._content .High_risk .c_title > i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .High_risk .c_title > p {
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  line-height: 22px;
}
._content .High_risk .a_circle {
  background-image: url(../../assets/image/chart/15.png);
  animation: myMove1 1s infinite linear;
}
._content .High_risk .b_circle {
  color: #FF243F;
  text-shadow: 0px 0px 4px #d0021b;
}
._content .High_risk .c_title > i {
  background-image: url(../../assets/image/chart/18.png);
}
._content .High_risk .c_title > p {
  color: #ff7081;
  text-shadow: 1px 1px 4px #eb001d;
}
._content .Middle_risk {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}
._content .Middle_risk ._back {
  width: 277px;
  height: 154px;
  background-image: url(../../assets/image/chart/21.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._content .Middle_risk > p {
  height: 33px;
  font-size: 22px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #ffffff;
  line-height: 33px;
  text-shadow: 1px 1px 4px #0064ff;
  text-align: right;
  margin-bottom: 30px;
}
._content .Middle_risk .a_circle {
  width: 80px;
  height: 80px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .Middle_risk .b_circle {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'font-LED';
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
}
._content .Middle_risk .c_title {
  text-align: center;
}
._content .Middle_risk .c_title > i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .Middle_risk .c_title > p {
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  line-height: 22px;
}
._content .Middle_risk .a_circle {
  background-image: url(../../assets/image/chart/16.png);
  animation: myMove1 2s infinite linear;
}
._content .Middle_risk .b_circle {
  color: #FFA647;
  text-shadow: 0px 0px 4px #ff2d00;
}
._content .Middle_risk .c_title > i {
  background-image: url(../../assets/image/chart/19.png);
}
._content .Middle_risk .c_title > p {
  color: #ff956c;
  text-shadow: 1px 1px 4px #cd3900;
}
._content .Low_risk {
  position: relative;
  display: inline-block;
}
._content .Low_risk ._back {
  width: 277px;
  height: 154px;
  background-image: url(../../assets/image/chart/21.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._content .Low_risk > p {
  height: 33px;
  font-size: 22px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: #ffffff;
  line-height: 33px;
  text-shadow: 1px 1px 4px #0064ff;
  text-align: right;
  margin-bottom: 30px;
}
._content .Low_risk .a_circle {
  width: 80px;
  height: 80px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .Low_risk .b_circle {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'font-LED';
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
}
._content .Low_risk .c_title {
  text-align: center;
}
._content .Low_risk .c_title > i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
._content .Low_risk .c_title > p {
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  line-height: 22px;
}
._content .Low_risk .a_circle {
  background-image: url(../../assets/image/chart/17.png);
  animation: myMove1 3s infinite linear;
}
._content .Low_risk .b_circle {
  color: #FAD961;
  text-shadow: 0px 0px 4px #e98c00;
}
._content .Low_risk .c_title > i {
  background-image: url(../../assets/image/chart/20.png);
}
._content .Low_risk .c_title > p {
  color: #ffcd83;
  text-shadow: 1px 1px 4px #bd7800;
}
@keyframes myMove1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: 'font-LED';
  src: url("DJB Get Digital.ttf") format("truetype");
}
